<div class="container">
<!--- Sezione disponibile in home --->
  <h2>Tabella dei progetti</h2>
<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome progetto</th>
          <th scope="col">Provvenienza</th>
          <th scope="col">Accesso alle informazioni</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>211</td>
          <td>@onlygabbyme</td>
          <td>www.onlygabbyme.it</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Accessibility 25</td>
          <td>@DS</td>
          <td><a href="/25/accessibility/index.html">link all'accessibilità</a></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Politiche giovanili</td>
          <td>@gabrieljones</td>
          <td><a href="https://comune.gjdev.it">link progetto</a></td>
        </tr>
      </tbody>
    </table>
  </div>
<!--- Sezione disponibile in home --->
</div>
