<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://italia.github.io/design-comuni-pagine-statiche/assets/bootstrap-italia/dist/css/bootstrap-italia.min.css">
<link rel="stylesheet" href="https://italia.github.io/design-comuni-pagine-statiche/assets/css/bootstrap-italia-comuni.css">
    <script src="https://italia.github.io/assets/bootstrap-italia/dist/js/bootstrap-italia.bundle.min.js"></script>
    <script src="https://italia.github.io/assets/script/scripts.js"></script>
<!-- Main styles 
<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />

-->

<style>
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

</style>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
